/* Reset */

* {
  vertical-align: baseline;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
}

/* Styles */

body {
  background-color: #eee;
  color: #1b1b1b;
  margin: 0px;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}

main {
  max-width: 1200px;
  margin: 0px auto 48px;
  position: relative;
  padding: 16px;
}

a {
  color: #2188ff;
}

h2 {
  font-size: 32px;
}

header {
  position: relative;
  color: #ffffff;
}

header p,
header h2 {
  margin: 0px;
}

.overlay-text {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 24px 0px 48px;
  animation-name: fade-out;
  animation-duration: 3.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  font-size: 16px;
}

header, #canvas-wrapper {
  height: 70vh;
}

#canvas-wrapper {
  width: 100%;
  background-color: #1b1b1b;
}

.title,
.in-use {
  margin: 24px auto;
  text-align: center;
}

.title span {
  display: none;
}

.description {
  margin: 64px auto;
  max-width: 600px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.in-use {
  margin: 64px auto;
}

.in-use-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media screen and (max-width: 800px) {
  .in-use-grid {
    grid-template-columns: 1fr !important;
  }
}

.in-use-grid .image-card img {
  width: 100%;
}

.in-use-grid figure {
  margin: 0px;
}

.in-use-grid figcaption {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}
