body {
  background-color: #eee;
  color: #1b1b1b;
  margin: 0px;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}

main {
  max-width: 1200px;
  margin: 0px auto 48px;
  position: relative;
  padding: 16px
}

header {
  position: relative;
  color: #ffffff;
}

a {
  color: #2188ff;
}

.overlay-text {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

header, #canvas-wrapper {
  min-height: 86vh;
}

#canvas-wrapper {
  width: 100%;
}

.title,
.in-use {
  margin: 24px auto;
  text-align: center;
}

.title span {
  display: none;
}

.description {
  margin: 64px auto;
  max-width: 600px;
}

.instructions {
  font-size: 16px;
  text-align: center;
  animation: fade-out 2s ease-out 2s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.in-use {
  margin: 64px auto;
}

.in-use-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.in-use-grid .placeholder {
  background-color: #dddddd;
  aspect-ratio: 1/1;
}

.in-use-grid figure {
  margin: 0px;
}

.in-use-grid figcaption {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}
