/**
 * Public Sans
 * Website: https://public-sans.digital.gov/
 * Google Fonts: https://fonts.google.com/specimen/Public+Sans
 * Google CSS Link: https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap
 */

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/public-sans/PublicSans[wght].ttf);
}
